# Data Handling & Analysis
pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.1
seaborn==0.12.2

# Data Acquisition
yfinance==0.2.12

# Machine Learning
scikit-learn==1.2.2
joblib==1.3.2

# Backtesting Framework
backtrader==1.9.76.123

# Utility & Environment
jupyterlab==3.6.1
notebook==6.5.4
ipython==8.10.0
